Dani/videogames/videogames.dtd


<!ELEMENT biblioteca (videojuego+)>
<!ELEMENT videojuego (titulo, precio, stock)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT plataforma (#PCDATA)>
<!ELEMENT precio (#PCDATA)>
<!ELEMENT stock (#PCDATA)>

<!-- Restricciones de valores aceptados para plataforma -->
<!ATTLIST videojuego plataforma (PC|PS5|Xbox) #REQUIRED>
<!ATTLIST videojuego idvendedor ID #REQUIRED>