Orlando/musica.dtd

<!ELEMENT estudio (canciones)>
<!ELEMENT canciones (cancion+)>
<!ELEMENT cancion ( titulo, artista, album, duracion)>
<!ATTLIST cancion id_cancion ID #REQUIRED>
<!ELEMENT categoria (#PCDATA)>
<!ATTLIST cancion categoria (rock | pop | jazz) "rock"> 
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT artista (#PCDATA)>
<!ELEMENT album (#PCDATA)>
<!ELEMENT duracion  (#PCDATA)>
